<div class="container-fluid min-vh-100 d-flex flex-column">
    <div class="row flex-grow-1">
        <div class="col-md-3" id="darkgrey">

            <label for="groups">Choose a Group</label>
            <select name="groups" id="groups" class="form-control" [(ngModel)]="group">
                <option *ngFor="let g of groups" value="{{g.id}}">{{g.group_name}}</option>
            </select>

            <p class="title">Channels</p>
            <label for="channels">Choose a channel</label>
            <select name="channels" id="channels" class="form-control" [(ngModel)]="channels">
                <option *ngFor="let c of channels" value="{{c.channel_name}}">{{channel_name}}</option>
            </select>


            <div style="margin-top:19px;" class="pull-right"> 
                <button type="button" class="btn btn-primary" (click)="join()">Join</button>
                <br>
                <br>
                <button type="button" class="btn btn-danger" (click)="leave()">Leave</button>
            </div>
        </div>
        

        <div class="col-md-6 border" id="darkgrey3">

            <h3 class="title">Chat Messages</h3>
                <div class="container-fluid msglog">
                        <div class="col border">
                            <div class="row">
                                <div style="height:400px; padding:15px;">
                                    <div *ngFor="let item of messageArray">
                                    <span><strong>{{item.user}} : </strong> {{item.message}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="container msgbox">
                        <div class="row">
                            <div class="col-md-6">
                                <form>
                                    <div class= "form-group">
                                        <label for="messagecontent">New Message</label>
                                        <input type="text" name="newMessage" class="form-control" [(ngModel)]="newMessage">
                                    </div>
                                    <div class= "form-group">
                                        <button type="button" class="btn btn-success pull-right" (click)="sendMessage()">Send</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
        </div>

        <div class="col-md-3 border border-dark" id="darkgrey3">
            <p class="title">Details</p>
            
        </div>
    </div>
</div>